:root { 
  --dark: #1d1d1d;
  --middle: rgba(255, 255, 255, 0.16);
  --pop1: #FE6B8B;
  --pop2: #FF8E53;
  --light: #fff;
  --linearGradient: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  --boxShadow: 0 0 5px 3px #f7af88;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light);
}

.wrapAll { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

header { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 { 
  font-size: 1.5rem;
}

p {
  text-align: left;
  line-height: 1.6rem;
}

p + p { 
  margin-top: 1.5rem;
}

li {
  margin: 15% 0;
}

.standout { 
  color: var(--pop2);
}

a { 
  padding: 2.5% 8%;
  color: var(--light);
  text-decoration: none;
}

.btn {
  padding: 4.5% 9%;
  background: var(--linearGradient);
  color: var(--dark);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgb(161, 161, 161);
  /* rgba(33, 203, 243, .3) */
  transition: all 0.3s ease-in-out;
}

.btn:hover { 
  box-shadow: var(--boxShadow);
}

img { 
  object-fit: contain;
}

.content
{ 
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.contentEntire {
  width: 75%;
  min-height: 480px;
  margin-top: 2%;
  padding-top: 2%;
  background: var(--middle);
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
} 

.contentLittle { 
  width: 400px;
  min-height: 500px;
  margin-top: 2%;
  padding-top: 2%;
  background: var(--middle);
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
}
/* .contentLittle { 
  width: 40%;
} */

.contentIndiv {
  width: 40%;
}

.title {
  text-align: center;
  margin-bottom: 9%;
  padding-bottom: 3%;
  border-bottom: 2px solid var(--pop1);
}

.projectCard { 
  width: 225px;
  height: 216px;
  margin: 3% 3% 0 0;
  color: var(--light);
  background-color: var(--pop2);
  border: 2px solid lightBlue;
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
}

.carousel.carousel-slider { 
  height: 100%;
}

/* Leave these next two as rgb because of opacity value */
.carousel.carousel-slider button.control-arrow  { 
  background: rgb(254, 107, 139, 0.7);
}

.carousel.carousel-slider button.control-arrow:hover{ 
  background: rgb(255, 142, 83, 0.7);
}