/* VARIABLES */
:root { 
  --dark: #1d1d1d;
  --middle: rgba(255, 255, 255, 0.16);
  --pop1: #ffdf5d;
  --pop2: #FF8E53;
  --light: #fff;
  --linearGradient: linear-gradient(45deg, #ffdf5d 30%, #FF8E53 90%);
  --boxShadow: 0 0 10px 1px #ffdf5d9f;
  /* f7af88 */
}



/* TYPOGRAPHY+ */
body {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light);
}

.wrapAll { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 { 
  font-size: 1.5rem;
}

p {
  text-align: left;
  line-height: 1.6rem;
}

p + p { 
  margin-top: 1.5rem;
}

li {
  margin: 15% 0;
}

.standout { 
  color: var(--pop2);
}

a { 
  padding-top: 2%;
  color: var(--light);
  text-decoration: none;
}

a:hover { 
  color: var(--pop1);
  transform: scale(1.1);
  cursor: pointer;
}

.btn {
  padding: 4.5% 9%;
  background: var(--linearGradient);
  color: var(--dark);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgb(161, 161, 161);
  /* rgba(33, 203, 243, .3) */
  transition: all 0.3s ease-in-out;
}

.btn:hover { 
  box-shadow: var(--boxShadow);
  cursor: pointer;
}

img { 
  object-fit: contain;
}



/* EVERY PAGE */
.content { 
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.contentEntire {
  width: 70%;
  height: 500px;
  /* min-height: 480px; */
  padding-top: 2%;
  background: var(--middle);
  text-align: center;
  border: 1px solid slategrey;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
} 

.contentLittle { 
  width: 30%;
  height: 500px;
  min-width: fit-content;
  padding-top: 2%;
  background: var(--middle);
  text-align: center;
  border: 1px solid slategrey;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
}

.contentIndiv {
  width: 40%;
}

.title {
  text-align: center;
  margin-bottom: 9%;
  padding-bottom: 3%;
  border-bottom: 2px solid var(--pop1);
}



/* NAVBAR */
header {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center
}

nav {
  margin: 2%;
  width: 75%;
  display: flex;
  justify-content: space-around
}

.navTab { 
  min-height: 42;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  padding: 3%; 
}



/* ABOUT */
.title img { 
  width: 320px;
  border-radius: 200px;
  margin: 1%;
  box-shadow: 0 0 5px 3px #ffdf5d;
}



/* PORTFOLIO */
/* Pushes the text out of view when it is supposed to fit into the carousel */ 
/* Makes the width 100% on the browser */
/* Only effects the content within the container */
/* .contentEntire .carousel-root { 
  width: 40%;
} */

/* Hides the "# out of #" label in top right corner */
.contentEntire .carousel .carousel-status { 
  display: none;
}

/* No noticable change */
/* .contentEntire .carousel .slider-wrapper { 
  overflow: visible;
} */

/* Keeps all content + the Next arrows within the carousel */
.carousel.carousel-slider { 
  height: 100%;
}

/* Leave these next two as rgb because of opacity value */
.carousel.carousel-slider button.control-arrow  { 
  background: rgb(255, 142, 83, 0.7);
}

.carousel.carousel-slider button.control-arrow:hover{ 
  background: rgb(255, 223, 93, 0.7);
}

.projectEntire { 
  cursor: pointer;
}



/* MEDIA QUERIES */
/* 769 */


/* 500 */


/* 425 */
@media screen and (max-width: 430px) {
  /* EVERY PAGE */
  .contentEntire {
    height: min-content;
    margin-bottom: 10%;
  }

  .content { 
    display: block;
  }

  .contentIndiv {
    width: 100%;
    margin: 15% 0;
  } 
  
  .contentEntire .contentIndiv { 
    margin-top: 5%;
  }

  .contentIndiv + .contentIndiv { 
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 9%;
    padding-bottom: 0;
    text-align: center;
    border-bottom: none;
  } 



  /* NAVBAR */
  header {
    height: 75px;
    font-size: .9rem;
  }
  
  nav {
    margin: 0%;
  }


  
  /* ABOUT PAGE  */
  h2.title {
    font-size: 1.4rem;
  }

  .title img { 
    width: 50%;
    /* margin-bottom: 0%; */
  }

  .title + p { 
    padding-top: 3%;
    border-top: 2px solid var(--pop1);
  }

  .title + p,
  .title + p + p { 
    margin: 6%;
  }

}