:root { 
  --dark: #1d1d1d;
  --middle: rgba(255, 255, 255, 0.16);
  --pop1: #ffdf5d;
  --pop2: #FF8E53;
  --light: #fff;
  --linearGradient: linear-gradient(45deg, #ffdf5d 30%, #FF8E53 90%);
  --boxShadow: 0 0 10px 1px #ffdf5d9f;
  /* f7af88 */
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light);
}

.wrapAll { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 { 
  font-size: 1.5rem;
}

p {
  text-align: left;
  line-height: 1.6rem;
}

p + p { 
  margin-top: 1.5rem;
}

li {
  margin: 15% 0;
}

.standout { 
  color: var(--pop2);
}

a { 
  padding-top: 2%;
  color: var(--light);
  text-decoration: none;
}

a:hover { 
  color: var(--pop1);
  transform: scale(1.1);
  cursor: pointer;
}

.btn {
  padding: 4.5% 9%;
  background: var(--linearGradient);
  color: var(--dark);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgb(161, 161, 161);
  /* rgba(33, 203, 243, .3) */
  transition: all 0.3s ease-in-out;
}

.btn:hover { 
  box-shadow: var(--boxShadow);
  cursor: pointer;
}

img { 
  object-fit: contain;
}

.content { 
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.contentEntire {
  width: 70%;
  height: 500px;
  min-height: 480px;
  padding-top: 2%;
  background: var(--middle);
  text-align: center;
  border: 1px solid slategrey;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
} 

.contentLittle { 
  width: 30%;
  height: 500px;
  min-width: fit-content;
  padding-top: 2%;
  background: var(--middle);
  text-align: center;
  border: 1px solid slategrey;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
}

.contentIndiv {
  width: 40%;
}

.title {
  text-align: center;
  margin-bottom: 9%;
  padding-bottom: 3%;
  border-bottom: 2px solid var(--pop1);
}

/* Pushes the text out of view when it is supposed to fit into the carousel */ 
/* Makes the width 100% on the browser */
/* Only effects the content within the container */
/* .contentEntire .carousel-root { 
  width: 40%;
} */

/* Hides the "# out of #" label in top right corner */
.contentEntire .carousel .carousel-status { 
  display: none;
}

/* No noticable change */
/* .contentEntire .carousel .slider-wrapper { 
  overflow: visible;
} */

/* Keeps all content + the Next arrows within the carousel */
.carousel.carousel-slider { 
  height: 100%;
}

/* Leave these next two as rgb because of opacity value */
.carousel.carousel-slider button.control-arrow  { 
  background: rgb(255, 142, 83, 0.7);
}

.carousel.carousel-slider button.control-arrow:hover{ 
  background: rgb(255, 223, 93, 0.7);
}

.projectEntire { 
  cursor: pointer;
}

.projectInfo { 
  display: none;
}

.projectInfo:hover { 
  display: flex;

}





.projectInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}
.projectEntire img {
  display: block;
  position: relative
}
/* .projectEntire h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0
} */
/* .projectEntire p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center
} */
/* .projectEntire a.projectInfo {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
} */
/* .projectEntire a.projectInfo:hover {
  box-shadow: 0 0 5px #000
} */


.projectEntire img { 
  transition: all 0.2s linear;
}
.projectEntire .projectInfo {
  opacity: 0;
  background-color: rgba(219,127,8, 0.7); 
  transition: all 0.4s ease-in-out;
}
.projectEntire h3 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.projectEntire p { 
  transform: translateY(100px);
  opacity: 0;
transition: all 0.2s linear;
}
.projectEntire a.projectInfo {
  opacity: 0;
transition: all 0.2s ease-in-out;
}


.projectEntire:hover img { 
	transform: scale(1.1);
} 
.projectEntire:hover .projectInfo { 
	opacity: 1;
}
.projectEntire:hover h3,
.projectEntire:hover p,
.projectEntire:hover a.projectInfo {
    opacity: 1;
    transform: translateY(0px);
}
.projectEntire:hover p {
    transition-delay: 0.1s;
}
.projectEntire:hover a.projectInfo {
    transition-delay: 0.2s;
}